:root {
  --primary: #7449BB;
  --primary-lg: #C4A9CD;
  --wh: #FFFFFF;
  --bl: #1B1B1B;

  --inter: 'Inter', sans-serif;
  --playfair: "Playfair Display", serif;
}

body {
  font: 400 normal 14px/normal var(--inter), sans-serif;
  background-color: var(--wh);
  color: var(--bl);
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-base {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.title {
  font: 400 normal 70px/normal var(--playfair), sans-serif;
  text-transform: uppercase;
}

.subtitle {
  font: 400 normal 32px/normal var(--playfair), sans-serif;
  text-transform: uppercase;
}

.caption {
  font-size: 24px;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  color: var(--primary);
  text-transform: uppercase;
  font-weight: 700;
  padding: 21px 55px;
  border: 1px solid var(--primary);
  transition: all .3s ease
}

.btn:hover {
  color: var(--wh);
  background-color: var(--primary)
}

.header {
  margin-bottom: 90px;
}

.header__inner {
  padding-top: 30px;
}

.header__title {
  font-family: var(--playfair), sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: auto;
}

.nav {
  margin-left: 130px;
  margin-right: 185px;
}

.nav__item {
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.user-nav {
  gap: 20px;
}

.hero {
  margin-bottom: 130px;
}

.hero-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-slide__inner {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  min-height: 700px;
  padding: 0 10px
}

.hero-slide__content {
  flex-basis: 183px;
  margin-top: -130px;
}

.hero-slide__content-title {
  padding-bottom: 55px;
}

.hero-slide__content-caption {
  margin-bottom: 10px;
}

.hero-slide__content-text {
  margin-bottom: 20px;
}

.hero-slide__content-btn {
  margin-left: auto;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none
}

.container-arrow {
  position: relative;
  max-width: 1200px;
}

.container-arrow .swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.hero .swiper {
  padding-bottom: 20px;
}

.swiper-button-next {
  left: 70px;
  right: auto;
}

.about {
  margin-bottom: 100px;
  overflow: hidden;
}

.about__inner {
  padding-left: 200px;
}

.about__subtitle {
  margin-bottom: 20px;
  width: 185px;
}

.about__text-box {
  margin-bottom: 150px;
  -webkit-box-align: end;
  -webkit-align-items: end;
  -ms-flex-align: end;
  align-items: flex-end
}

.about__text {
  flex-basis: 387px
}

.about__text p {
  margin-bottom: 25px;
}

.about__text--bold,
.about__item-title {
  font-weight: 700;
}

.about__item-title {
  margin-bottom: 20px;
}

.about__slider {
  width: 1800px;
  padding-left: 200px;
  margin-left: -200px;
  padding-bottom: 20px;
}

.about__arrow {
  margin-left: -198px;
  margin-top: -3px;
}

.about__btn {
  width: 386px;
  text-align: center;
}

.accordion {
  margin-bottom: 225px;
}

.accordion__inner {
  padding-left: 200px;
}

.accordion__item {
  position: relative;
  border-bottom: 1px solid var(--bl);
  padding: 0 101px 20px 0;
}

.accordion__item--active .accordion__content {
  display: block;
}

.accordion__item::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 51px;
  background-image: url(../img/arrow-bottom.svg);
  right: 85px;
  top: 50px;
}

.accordion__item:last-child::after {
  content: '';
  position: absolute;
  background-image: url(../img/accordion-img.jpg);
  width: 65px;
  height: 120px;
  bottom: -73px;
  left: 268px;
}

.accordion__triger {
  cursor: pointer;
  padding-top: 50px;
}

.accordion__triger-caption {
  flex-basis: 300px;
}

.accordion__triger-text {
  flex-basis: 387px;
  margin-right: 104px;
  min-height: 51px;
}

.accordion__content {
  padding-top: 20px;
  display: none;
}

.accordion__content p {
  margin-bottom: 10px;
}

.else {
  margin-bottom: 150px;
}

.else__inner {
  position: relative;
  min-height: 647px;
}

.else__subtitle {
  width: 96px;
}

.else__items {
  position: absolute;
  top: 0;
  left: 200px;
  gap: 20px;
}

.else__item {
  text-align: center;
}

.else__item-step {
  color: rgba(0, 0, 0, 0.50);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.else__item-img {
  margin-bottom: 20px;
}

.else__item-name {
  margin-bottom: 10px;
}

.else__item-name span {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}

.else__item-price {
  font-family: var(--playfair), sans-serif;
}

.video {
  margin-bottom: 150px;
}

.video__box {
  margin-left: auto;
  max-width: 997px;
  min-height: 600px;
  background: url(../img/video-bg.jpg) no-repeat center / cover;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer {
  background-color: var(--primary-lg);
  padding: 65px 0 100px;
}

.footer__top {
  margin-bottom: 70px;
  gap: 30px 70px;
}

.footer__logo {
  margin-right: 13px;
}

.footer__items {
  flex-basis: 427px
}

.footer__item+.footer__item {
  margin-top: 70px;
}

.footer__item-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.footer__item-form {
  position: relative;
}

.footer__item-input {
  width: 100%;
  display: block;
  padding: 10px 60px 10px 0;
  border-bottom: 1px solid var(--bl);
  font: 400 normal 14px/normal var(--inter), sans-serif;
}

.footer__item-input::placeholder {
  font-size: 12px;
  color: var(--bl);
  opacity: 0.4;
  font-family: var(--inter)
}

.footer__item-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.footer__item-list li {
  padding-top: 10px;
}

.footer__social-list {
  align-self: flex-end;
  margin-left: 13px;
  margin-right: 105px;
}

.footer__social-item+.footer__social-item {
  margin-top: 20px;
}

.footer__social-item svg path {
  transition: all .3s;
}

.footer__social-item:hover svg path {
  fill: var(--primary)
}

.footer__bottom {
  margin-right: 105px;
}

.footer__bottom-items {
  max-width: 906px;
  margin-left: auto;
  gap: 20px;
}

@media (max-width: 1640px) {
  .else__inner {
    min-width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 60px;
  }

  .else__items {
    position: static;
    flex-wrap: wrap;
  }

  .else__item {
    flex: 255px 1 0;
  }

  .else__item-img {
    width: 100%;
    max-width: 386px;
  }
}

@media (max-width: 1040px) {
  .about__text-box {
    display: block;
    margin-bottom: 70px;
  }

  .accordion__inner {
    padding-left: 0;
  }

  .footer__img {
    display: none;
  }

  .footer__logo {
    margin-right: 0;
  }

  .footer__top {
    gap: 30px;
  }

  .footer__bottom {
    margin-right: 0;
  }

  .footer__bottom-items {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media (max-width: 992px) {
  .header__title {
    display: none;
  }

  .nav {
    margin-left: 0;
    margin-right: 0;
  }

  .else__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 850px) {
  .btn {
    padding: 15px 40px;
  }
  .hero,
  .about__text-box,
  .about,
  .video {
    margin-bottom: 90px;
  }

  .hero-slide__inner {
    min-height: 520px;
    padding: 0;
  }

  .hero-slide__img-two {
    display: none;
  }

  .video__box {
    min-height: 500px;
  }

  .footer__social-list {
    margin-right: 50px;
  }
}

@media (max-width: 768px) {
  .accordion__triger {
    display: block;
    padding-top: 25px;
  }

  .accordion__triger-caption {
    margin-bottom: 20px;
  }

  .accordion__item {
    padding-right: 20px;
  }

  .accordion__item::before {
    right: 3px;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
}

@media (max-width: 650px) {
  .about__inner {
    padding-left: 0;
  }

  .about__slider {
    padding-left: 0;
    margin-left: 0;
  }

  .about__arrow {
    display: none;
  }

  .video__box {
    min-height: 400px;
  }

  .footer {
    padding: 45px 0 75px;
  }

  .footer__social-list {
    margin-right: 10px;
  }
}

@media (max-width: 475px) {
  .header {
    margin-bottom: 40px;
  }

  .hero,
  .about__text-box,
  .about,
  .video {
    margin-bottom: 50px;
  }

  .hero-slide__content-btn {
    margin-right: auto;
  }

  .accordion {
    margin-bottom: 140px;
  }

  .accordion__triger-text {
    margin-right: 10px;
  }

  .accordion__item:last-child::after {
    left: 190px;
  }

  .else__inner {
    gap: 35px;
  }

  .else__item {
    flex-basis: 185px;
  }

  .video__box {
    min-height: 300px;
  }

  .footer__top {
    display: block;
  }

  .footer__logo-img {
    display: inline-block;
    margin-bottom: 30px;
  }

  .footer__item+.footer__item {
    margin-top: 30px;
  }

  .footer__top {
    margin-bottom: 30px;
  }

  .footer__social-list {
    display: flex;
    gap: 25px;
    margin: 0;
    margin-top: 30px;
  }

  .footer__social-item+.footer__social-item {
    margin-top: 0;
  }
}

@media (max-width: 420px) {
  .header__inner {
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav {
    width: 100%;
    order: 1;
    padding-top: 30px;
    text-align: right;
  }

  .hero-slide__img-one {
    order: 1
  }

  .about__slider {
    width: 1500px;
  }

  .about__item-img {
    width: 365px;
  }

  .accordion__triger-text {
    min-height: auto;
  }

}